In [1]:
import pandas as pd
import numpy as np
import json

In [25]:
json_keris=pd.read_json('./keris_extract.json')
print(json_keris.head(3))

  DRULE_ATT_TYPE_CODE1              TW_ID  \
0                Malwr  20201210171223884
1                  Web  20201210171223884
2                 Hack  20201210171223884

                                            DRULE_NM  GEAR_CODE  GEAR_TYPE  \
0  Attack-BruteForce-29-01-tool(ncrack).20050701E...   53073000          0
1  Attack-BruteForce-29-01-tool(ncrack).20050701E...   53073000          0
2  Attack-BruteForce-29-01-tool(ncrack).20050701E...   53073000          0

   INST_NM                                            RISK_V2 TW_ATT_CT_CODE  \
0  숙명여자대학교  {'ACCD_HIST_VAL_1': 0, 'ACCD_HIST_VAL_2': 0, '...             TW
1  숙명여자대학교  {'ACCD_HIST_VAL_1': 0, 'ACCD_HIST_VAL_2': 0, '...             TW
2  숙명여자대학교  {'ACCD_HIST_VAL_1': 0, 'ACCD_HIST_VAL_2': 0, '...             TW

   TW_ATT_PORT  TW_DETECT_CNT  \
0        65236              1
1        65237              1
2        65238              1

                                          SCEN_INFOS
0  [{'POL_CODE': '1DGj7HEB2UDdhYEC1Bo2', 'POL_NM'...
1  [{'POL_CODE': '1DGj7HEB2UDdhYEC1Bo2', 'POL_NM'...
2  [{'POL_CODE': '1DGj7HEB2UDdhYEC1Bo2', 'POL_NM'...

In [188]:
keris_count1=json_keris.groupby(['DRULE_ATT_TYPE_CODE1','INST_NM', 'GEAR_CODE']).count().T
keris_count1

DRULE_ATT_TYPE_CODE1   Attack              DDos                       Hack  \
INST_NM               숙명여자대학교    홍익대학교  숙명여자대학교                    숙명여자대학교
GEAR_CODE            53073000 53073000 53073000 53073001 53073004 53073001
TW_ID                    1931      726        5        5        1        6
DRULE_NM                 1931      726        5        5        1        6
GEAR_TYPE                1931      726        5        5        1        6
RISK_V2                  1931      726        5        5        1        6
TW_ATT_CT_CODE           1931      726        5        5        1        6
TW_ATT_PORT              1931      726        5        5        1        6
TW_DETECT_CNT            1931      726        5        5        1        6
SCEN_INFOS               1931      726        5        5        1        6

DRULE_ATT_TYPE_CODE1                                Mail  ...           \
INST_NM                                          숙명여자대학교  ...
GEAR_CODE            53073002 53073003 53073004 53073000  ... 53073003
TW_ID                       6        6        3        1  ...        2
DRULE_NM                    6        6        3        1  ...        2
GEAR_TYPE                   6        6        3        1  ...        2
RISK_V2                     6        6        3        1  ...        2
TW_ATT_CT_CODE              6        6        3        1  ...        2
TW_ATT_PORT                 6        6        3        1  ...        2
TW_DETECT_CNT               6        6        3        1  ...        2
SCEN_INFOS                  6        6        3        1  ...        2

DRULE_ATT_TYPE_CODE1                                                 Malwr  \
INST_NM                          홍익대학교                             숙명여자대학교
GEAR_CODE            53073004 53073000 53073002 53073003 53073004 53073001
TW_ID                       1        3        2        3        3        1
DRULE_NM                    1        3        2        3        3        1
GEAR_TYPE                   1        3        2        3        3        1
RISK_V2                     1        3        2        3        3        1
TW_ATT_CT_CODE              1        3        2        3        3        1
TW_ATT_PORT                 1        3        2        3        3        1
TW_DETECT_CNT               1        3        2        3        3        1
SCEN_INFOS                  1        3        2        3        3        1

DRULE_ATT_TYPE_CODE1               Web
INST_NM                 홍익대학교  숙명여자대학교    홍익대학교
GEAR_CODE            53073000 53073002 53073000
TW_ID                       5        1        8
DRULE_NM                    5        1        8
GEAR_TYPE                   5        1        8
RISK_V2                     5        1        8
TW_ATT_CT_CODE              5        1        8
TW_ATT_PORT                 5        1        8
TW_DETECT_CNT               5        1        8
SCEN_INFOS                  5        1        8

[8 rows x 21 columns]

In [193]:
keris_count2=keris_count1[:1]
keris_count2

DRULE_ATT_TYPE_CODE1   Attack              DDos                       Hack  \
INST_NM               숙명여자대학교    홍익대학교  숙명여자대학교                    숙명여자대학교
GEAR_CODE            53073000 53073000 53073000 53073001 53073004 53073001
TW_ID                    1931      726        5        5        1        6

DRULE_ATT_TYPE_CODE1                                Mail  ...           \
INST_NM                                          숙명여자대학교  ...
GEAR_CODE            53073002 53073003 53073004 53073000  ... 53073003
TW_ID                       6        6        3        1  ...        2

DRULE_ATT_TYPE_CODE1                                                 Malwr  \
INST_NM                          홍익대학교                             숙명여자대학교
GEAR_CODE            53073004 53073000 53073002 53073003 53073004 53073001
TW_ID                       1        3        2        3        3        1

DRULE_ATT_TYPE_CODE1               Web
INST_NM                 홍익대학교  숙명여자대학교    홍익대학교
GEAR_CODE            53073000 53073002 53073000
TW_ID                       5        1        8

[1 rows x 21 columns]

In [197]:
outer={}
result=[]
for row in keris_1_series.itertuples():
    print(row)
#     outer[key]={
#         'name':key,
#         'children':[]}
# print(outer)

# for key1,value1 in keris_1_series.iterrows():
#     print(key1)
    # print(value1)
    # outer[key1]['children'].append({
    #         'name':key1,
    #         'value':value1
    #     })

#         outer[key2]['children'].append({
#             'name':key1,
#             'value':value1[key2]
#         })
#         # print(value1[key2])
# print(outer) 
# for k,v in outer.items():
#     print(v)
#     result.append(v)
# print(result)

Pandas(Index=('Attack', '숙명여자대학교', 53073000), _1=1931)
Pandas(Index=('Attack', '홍익대학교', 53073000), _1=726)
Pandas(Index=('DDos', '숙명여자대학교', 53073000), _1=5)
Pandas(Index=('DDos', '숙명여자대학교', 53073001), _1=5)
Pandas(Index=('DDos', '숙명여자대학교', 53073004), _1=1)
Pandas(Index=('Hack', '숙명여자대학교', 53073001), _1=6)
Pandas(Index=('Hack', '숙명여자대학교', 53073002), _1=6)
Pandas(Index=('Hack', '숙명여자대학교', 53073003), _1=6)
Pandas(Index=('Hack', '숙명여자대학교', 53073004), _1=3)
Pandas(Index=('Mail', '숙명여자대학교', 53073000), _1=1)
Pandas(Index=('Mail', '숙명여자대학교', 53073002), _1=1)
Pandas(Index=('Mail', '숙명여자대학교', 53073003), _1=2)
Pandas(Index=('Mail', '숙명여자대학교', 53073004), _1=1)
Pandas(Index=('Mail', '홍익대학교', 53073000), _1=3)
Pandas(Index=('Mail', '홍익대학교', 53073002), _1=2)
Pandas(Index=('Mail', '홍익대학교', 53073003), _1=3)
Pandas(Index=('Mail', '홍익대학교', 53073004), _1=3)
Pandas(Index=('Malwr', '숙명여자대학교', 53073001), _1=1)
Pandas(Index=('Malwr', '홍익대학교', 53073000), _1=5)
Pandas(Index=('Web', '숙명여자대학교', 53073002), _1=1)
Pandas(Index=('Web', '홍익대학교', 53073000), _1=8)

In [10]:
keris_2=json_keris.groupby(['DRULE_ATT_TYPE_CODE1','TW_ATT_CT_CODE','TW_ATT_PORT']).size()
keris_2

DRULE_ATT_TYPE_CODE1  TW_ATT_CT_CODE  TW_ATT_PORT
Attack                TW              65236          2715
DDos                  TW              65239             1
Hack                  TW              65238             1
Mail                  TW              65230             1
Malwr                 TW              65236             1
Web                   TW              65237             1
dtype: int64

In [20]:
for index, value in keris_2.items():
    print(index, value)
    currentItem = False
    for key in index:
        print(key, currentItem)
        if not currentItem:
            currentItem = { "name": key, "children": []}
        else:
            currentList = list(filter(lambda item: item['name'] == key, currentItem["children"]))
            print('cl', currentList)
            if len(currentItem) == 0:
                currentItem["children"].append({ "name": key, "children": []})
        print(currentItem)

('Attack', 'TW', 65236) 2715
Attack False
{'name': 'Attack', 'children': []}
TW {'name': 'Attack', 'children': []}
cl []
{'name': 'Attack', 'children': []}
65236 {'name': 'Attack', 'children': []}
cl []
{'name': 'Attack', 'children': []}
('DDos', 'TW', 65239) 1
DDos False
{'name': 'DDos', 'children': []}
TW {'name': 'DDos', 'children': []}
cl []
{'name': 'DDos', 'children': []}
65239 {'name': 'DDos', 'children': []}
cl []
{'name': 'DDos', 'children': []}
('Hack', 'TW', 65238) 1
Hack False
{'name': 'Hack', 'children': []}
TW {'name': 'Hack', 'children': []}
cl []
{'name': 'Hack', 'children': []}
65238 {'name': 'Hack', 'children': []}
cl []
{'name': 'Hack', 'children': []}
('Mail', 'TW', 65230) 1
Mail False
{'name': 'Mail', 'children': []}
TW {'name': 'Mail', 'children': []}
cl []
{'name': 'Mail', 'children': []}
65230 {'name': 'Mail', 'children': []}
cl []
{'name': 'Mail', 'children': []}
('Malwr', 'TW', 65236) 1
Malwr False
{'name': 'Malwr', 'children': []}
TW {'name': 'Malwr', 'children': []}
cl []
{'name': 'Malwr', 'children': []}
65236 {'name': 'Malwr', 'children': []}
cl []
{'name': 'Malwr', 'children': []}
('Web', 'TW', 65237) 1
Web False
{'name': 'Web', 'children': []}
TW {'name': 'Web', 'children': []}
cl []
{'name': 'Web', 'children': []}
65237 {'name': 'Web', 'children': []}
cl []
{'name': 'Web', 'children': []}

In [11]:
keris_1=json_keris.groupby(['DRULE_ATT_TYPE_CODE1','INST_NM','GEAR_CODE']).size()
keris_1

DRULE_ATT_TYPE_CODE1  INST_NM  GEAR_CODE
Attack                숙명여자대학교  53073000     1965
                      홍익대학교    53073000      750
DDos                  숙명여자대학교  53073000        1
Hack                  숙명여자대학교  53073000        1
Mail                  숙명여자대학교  53073000        1
Malwr                 숙명여자대학교  53073000        1
Web                   숙명여자대학교  53073000        1
dtype: int64

In [23]:
def addToGroup(items,currentKey,nextKeys,value):
    print('items', items)
    print('currentKey', currentKey)
    print('nextKeys', nextKeys)
    print('value', value)

result=[]

for keys,value in keris_1:
    result=addToGroup(result, keys[0], list(keys)[1:],value)

AttributeError: 'numpy.int64' object has no attribute 'items'

In [17]:
temp = []

for index, value in keris_1.items():
    print(index, value)
    currentItem = False
    for key in index:
        print(key, currentItem)
        if not currentItem:
            currentItem = { "name": key, "children": []}
        else:
            currentList = list(filter(lambda item: item['name'] == key, currentItem["children"]))
            print('cl', currentList)
            if len(currentItem) == 0:
                currentItem["children"].append({ "name": key, "children": []})
        print('---',currentItem)
print(temp)

('Attack', '숙명여자대학교', 53073000) 1965
Attack False
--- {'name': 'Attack', 'children': []}
숙명여자대학교 {'name': 'Attack', 'children': []}
cl []
--- {'name': 'Attack', 'children': []}
53073000 {'name': 'Attack', 'children': []}
cl []
--- {'name': 'Attack', 'children': []}
('Attack', '홍익대학교', 53073000) 750
Attack False
--- {'name': 'Attack', 'children': []}
홍익대학교 {'name': 'Attack', 'children': []}
cl []
--- {'name': 'Attack', 'children': []}
53073000 {'name': 'Attack', 'children': []}
cl []
--- {'name': 'Attack', 'children': []}
('DDos', '숙명여자대학교', 53073000) 1
DDos False
--- {'name': 'DDos', 'children': []}
숙명여자대학교 {'name': 'DDos', 'children': []}
cl []
--- {'name': 'DDos', 'children': []}
53073000 {'name': 'DDos', 'children': []}
cl []
--- {'name': 'DDos', 'children': []}
('Hack', '숙명여자대학교', 53073000) 1
Hack False
--- {'name': 'Hack', 'children': []}
숙명여자대학교 {'name': 'Hack', 'children': []}
cl []
--- {'name': 'Hack', 'children': []}
53073000 {'name': 'Hack', 'children': []}
cl []
--- {'name': 'Hack', 'children': []}
('Mail', '숙명여자대학교', 53073000) 1
Mail False
--- {'name': 'Mail', 'children': []}
숙명여자대학교 {'name': 'Mail', 'children': []}
cl []
--- {'name': 'Mail', 'children': []}
53073000 {'name': 'Mail', 'children': []}
cl []
--- {'name': 'Mail', 'children': []}
('Malwr', '숙명여자대학교', 53073000) 1
Malwr False
--- {'name': 'Malwr', 'children': []}
숙명여자대학교 {'name': 'Malwr', 'children': []}
cl []
--- {'name': 'Malwr', 'children': []}
53073000 {'name': 'Malwr', 'children': []}
cl []
--- {'name': 'Malwr', 'children': []}
('Web', '숙명여자대학교', 53073000) 1
Web False
--- {'name': 'Web', 'children': []}
숙명여자대학교 {'name': 'Web', 'children': []}
cl []
--- {'name': 'Web', 'children': []}
53073000 {'name': 'Web', 'children': []}
cl []
--- {'name': 'Web', 'children': []}

In [31]:
d=json_keris.to_dict(orient='records')
for key in json_keris.keys():
    print(key)

DRULE_ATT_TYPE_CODE1
TW_ID
DRULE_NM
GEAR_CODE
GEAR_TYPE
INST_NM
RISK_V2
TW_ATT_CT_CODE
TW_ATT_PORT
TW_DETECT_CNT
SCEN_INFOS

In [89]:
df=pd.DataFrame({'Attack':[5651,	762,	536,	507,	420,	266,	247,	160,	156,	123,	114,	106,	82,	73,	64,	62,	51,	50,	43,	41,	37,	26,	24,	22,	20,	19,	13,	13,	13,	13],
'DDos':[424,	939,	837,	243,	585,	513,	874,	554,	400,	843,	980,	645,	814,	390,	382,	761,	719,	873,	880,	197,	788,	902,	196,	135,	557,	942,	299,	303,	318,	945], 
'Hack':[859,	743,	112,	461,	384,	754,	226,	472,	443,	605,	636,	229,	319,	957,	606,	869,	739,	492,	930,	149,	703,	619,	741,	444,	689,	784,	33,	189,	47,	13],
'Mail':[103,	556,	103,	954,	106,	497,	75,	671,	804,	571,	569,	615,	776,	189,	720,	359,	299,	946,	493,	464,	541,	516,	345,	525,	769,	205,	552,	8,	190,	64],
'Malwr':[235,	27,	787,	747,	988,	18,	317,	126,	417,	508,	875,	670,	722,	304,	68,	120,	288,	126,	896,	593,	547,	319,	767,	730,	797,	404,	935,	168,	654,	838],
'Web':[571,	120,	89,	798,	491,	131,	650,	202,	929,	830,	777,	398,	654,	704,	429,	692,	282,	443,	762,	91,	100,	454,	48,	473,	529,	351,	964,	888,	247,	985]}, index=["충북대학교",	"부경대학교 ",	"위덕대학교 ",	"중앙대학교 ",	"울산대학교 ",	"서울특별시교육청",	"단국대학교 ",	"동명대학교 ",	"충청남도교육청 ",	"오산대학교 ",	"장안대학교 ",	"인천광역시교육청",	"신안산대학교 ",	"한신대학교",	"목포대학교",	"남부대학교",	"원광대학교",	"서울여자대학교",	"서울대학교",	"계원예술대학교",	"안산대학교",	"한림대학교",	"서울대학교병원",	"광운대학교",	"송호대학교",	"인덕대학교",	"충남대학교",	"배재대학교",	"군산대학교",	
"세한대학교"])
df.head(5)

        Attack  DDos  Hack  Mail  Malwr  Web
충북대학교     5651   424   859   103    235  571
부경대학교      762   939   743   556     27  120
위덕대학교      536   837   112   103    787   89
중앙대학교      507   243   461   954    747  798
울산대학교      420   585   384   106    988  491

In [54]:
with open('keris1_json','w',encoding='utf-8') as outfile:
    json.dump(keris1_json,outfile)

TypeError: keys must be str, int, float, bool or None, not tuple

In [103]:

result = {}
data_result = []

for key in df.keys():
    result[key] = {
        "name": key,
        "children": []
    }
    # data_result.append({"name": key, "children": []})

print(result)
print('\n\n')
print(data_result)

for key, row in df.iterrows():
    # print(key)
    print(row)
#     for column in df.keys():
#         # print("----",row,  row[column])
#         result[column]['children'].append({
#             "name": key,
#             "value": row[column]
#         })

# for key, value in result.items():
#     data_result.append(value)

# print(data_result)

{'Attack': {'name': 'Attack', 'children': []}, 'DDos': {'name': 'DDos', 'children': []}, 'Hack': {'name': 'Hack', 'children': []}, 'Mail': {'name': 'Mail', 'children': []}, 'Malwr': {'name': 'Malwr', 'children': []}, 'Web': {'name': 'Web', 'children': []}}



[]
Attack    5651
DDos       424
Hack       859
Mail       103
Malwr      235
Web        571
Name: 충북대학교, dtype: int64
Attack    762
DDos      939
Hack      743
Mail      556
Malwr      27
Web       120
Name: 부경대학교 , dtype: int64
Attack    536
DDos      837
Hack      112
Mail      103
Malwr     787
Web        89
Name: 위덕대학교 , dtype: int64
Attack    507
DDos      243
Hack      461
Mail      954
Malwr     747
Web       798
Name: 중앙대학교 , dtype: int64
Attack    420
DDos      585
Hack      384
Mail      106
Malwr     988
Web       491
Name: 울산대학교 , dtype: int64
Attack    266
DDos      513
Hack      754
Mail      497
Malwr      18
Web       131
Name: 서울특별시교육청, dtype: int64
Attack    247
DDos      874
Hack      226
Mail       75
Malwr     317
Web       650
Name: 단국대학교 , dtype: int64
Attack    160
DDos      554
Hack      472
Mail      671
Malwr     126
Web       202
Name: 동명대학교 , dtype: int64
Attack    156
DDos      400
Hack      443
Mail      804
Malwr     417
Web       929
Name: 충청남도교육청 , dtype: int64
Attack    123
DDos      843
Hack      605
Mail      571
Malwr     508
Web       830
Name: 오산대학교 , dtype: int64
Attack    114
DDos      980
Hack      636
Mail      569
Malwr     875
Web       777
Name: 장안대학교 , dtype: int64
Attack    106
DDos      645
Hack      229
Mail      615
Malwr     670
Web       398
Name: 인천광역시교육청, dtype: int64
Attack     82
DDos      814
Hack      319
Mail      776
Malwr     722
Web       654
Name: 신안산대학교 , dtype: int64
Attack     73
DDos      390
Hack      957
Mail      189
Malwr     304
Web       704
Name: 한신대학교, dtype: int64
Attack     64
DDos      382
Hack      606
Mail      720
Malwr      68
Web       429
Name: 목포대학교, dtype: int64
Attack     62
DDos      761
Hack      869
Mail      359
Malwr     120
Web       692
Name: 남부대학교, dtype: int64
Attack     51
DDos      719
Hack      739
Mail      299
Malwr     288
Web       282
Name: 원광대학교, dtype: int64
Attack     50
DDos      873
Hack      492
Mail      946
Malwr     126
Web       443
Name: 서울여자대학교, dtype: int64
Attack     43
DDos      880
Hack      930
Mail      493
Malwr     896
Web       762
Name: 서울대학교, dtype: int64
Attack     41
DDos      197
Hack      149
Mail      464
Malwr     593
Web        91
Name: 계원예술대학교, dtype: int64
Attack     37
DDos      788
Hack      703
Mail      541
Malwr     547
Web       100
Name: 안산대학교, dtype: int64
Attack     26
DDos      902
Hack      619
Mail      516
Malwr     319
Web       454
Name: 한림대학교, dtype: int64
Attack     24
DDos      196
Hack      741
Mail      345
Malwr     767
Web        48
Name: 서울대학교병원, dtype: int64
Attack     22
DDos      135
Hack      444
Mail      525
Malwr     730
Web       473
Name: 광운대학교, dtype: int64
Attack     20
DDos      557
Hack      689
Mail      769
Malwr     797
Web       529
Name: 송호대학교, dtype: int64
Attack     19
DDos      942
Hack      784
Mail      205
Malwr     404
Web       351
Name: 인덕대학교, dtype: int64
Attack     13
DDos      299
Hack       33
Mail      552
Malwr     935
Web       964
Name: 충남대학교, dtype: int64
Attack     13
DDos      303
Hack      189
Mail        8
Malwr     168
Web       888
Name: 배재대학교, dtype: int64
Attack     13
DDos      318
Hack       47
Mail      190
Malwr     654
Web       247
Name: 군산대학교, dtype: int64
Attack     13
DDos      945
Hack       13
Mail       64
Malwr     838
Web       985
Name: 세한대학교, dtype: int64

In [88]:
# keris_1.head(5)
keris_1_series=keris_1.to_frame()
keris_1_series.head(5)

                                           0
DRULE_ATT_TYPE_CODE1 INST_NM GEAR_CODE
Attack               숙명여자대학교 53073000   1931
                     홍익대학교   53073000    726
DDos                 숙명여자대학교 53073000      5
                             53073001      5
                             53073004      1

In [147]:
outer={}
result=[]
for key,value in keris_1_series.itertuples():
    print(key)
#     outer[key]={
#         'name':key,
#         'children':[]}
# print(outer)

# for key1,value1 in keris_1_series.iterrows():
#     print(key1)
    # print(value1)
    # outer[key1]['children'].append({
    #         'name':key1,
    #         'value':value1
    #     })

#         outer[key2]['children'].append({
#             'name':key1,
#             'value':value1[key2]
#         })
#         # print(value1[key2])
# print(outer) 
# for k,v in outer.items():
#     print(v)
#     result.append(v)
# print(result)

('Attack', '숙명여자대학교', 53073000)
('Attack', '홍익대학교', 53073000)
('DDos', '숙명여자대학교', 53073000)
('DDos', '숙명여자대학교', 53073001)
('DDos', '숙명여자대학교', 53073004)
('Hack', '숙명여자대학교', 53073001)
('Hack', '숙명여자대학교', 53073002)
('Hack', '숙명여자대학교', 53073003)
('Hack', '숙명여자대학교', 53073004)
('Mail', '숙명여자대학교', 53073000)
('Mail', '숙명여자대학교', 53073002)
('Mail', '숙명여자대학교', 53073003)
('Mail', '숙명여자대학교', 53073004)
('Mail', '홍익대학교', 53073000)
('Mail', '홍익대학교', 53073002)
('Mail', '홍익대학교', 53073003)
('Mail', '홍익대학교', 53073004)
('Malwr', '숙명여자대학교', 53073001)
('Malwr', '홍익대학교', 53073000)
('Web', '숙명여자대학교', 53073002)
('Web', '홍익대학교', 53073000)

In [32]:
df=pd.DataFrame([["충북대학교",'gear1',561],["충북대학교",'gear1',5651],["충북대학교",'gear1',551]],columns=["attack","ddos","mail"])
df

  attack   ddos  mail
0  충북대학교  gear1   561
1  충북대학교  gear1  5651
2  충북대학교  gear1   551

In [28]:
df.set_index().sort_index()

TypeError: set_index() missing 1 required positional argument: 'keys'

In [33]:
df=pd.DataFrame({'Attack':[5651,	762,	536],
'DDos':[424,	939,	837], 
}, index=["충북대학교",	"부경대학교 ",	"위덕대학교 "])
df

        Attack  DDos
충북대학교     5651   424
부경대학교      762   939
위덕대학교      536   837

In [43]:
df=pd.DataFrame({'Attack':{}, 
}, index=["충북대학교",	"부경대학교 ",	"위덕대학교 "])
df

Empty DataFrame
Columns: [Attack]
Index: []